@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Itim&family=Jacquarda+Bastarda+9&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);

}
