@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Itim&family=Jacquarda+Bastarda+9&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#projects {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Itim', cursive;
}
