.blogsHead {
  height: 100vh;
  position: relative;
  margin-top: -4rem;


  >.blogBackground {
    position: absolute;
    height: 100%;
    width: 100%;

    >.blogImg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    >.blogText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      font-family: 'Itim';
      height: 100%;
      width: 100%;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));

      >.blogTextHead {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        >.blogButton {
          margin-top: 1rem;
          font-size: 2rem;
          height: 5rem;
          width: 5rem;
          border-radius: 100%;
          font-family: 'Caveat';
          background: transparent;

          >a {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            >svg {
              height: 100%;
              width: 100%;
              color: white;
            }

          }


        }
      }

      >.blogButton {
        margin-top: 1rem;
        justify-self: flex-end;
      }
    }
  }
}


.blogsLiner {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
  width: 100%;

  >.blogHead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    >.search {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);

      >input {
        width: 99%;
        height: 3rem;
        border-radius: 0.5rem;
        border: none;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Itim';
        color: white;
        background: #2b2a33;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        border-top-right-radius: 0rem;
        border-bottom-right-radius: 0rem;

        >&:focus {
          outline: none;
          border: none;
          -webkit-tap-highlight-color: transparent;
        }
      }

      >input:focus {
        outline: none;
        border: none;
        -webkit-tap-highlight-color: transparent;
      }

      >button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
        border: none;
        padding: 0.5rem;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0rem;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        color: white;
        border: none;
        background: #2b2a33;
      }
    }
  }


  >.blogCardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >.blogCard {

      >.blogCard__category {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-family: 'Itim';
        color: white;
      }

      >.blogCard__description {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-family: 'Itim';
        color: white;
      }

      >.blogCard__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: 'Itim';
        color: white;
      }
    }

  }
}
