.blogsHead {
  height: 43rem;
  position: relative;
  margin-top: -4rem;


  >.blogBackground {
    position: absolute;
    height: 100%;
    width: 100%;

    >.blogImg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    >.blogText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 2rem;
      font-family: 'Itim';
      height: 100%;
      width: 100%;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));

    }
  }
}
