@import './static.scss';

.about{
  display: flex; 
  background-color: $color1;
  gap: 20px;
  padding: 3%;
  .aboutIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 45%;
    >.aboutHead{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      h2{
        width: 100%;
        padding: 6px;
        font-size: 2rem;
        font-family: $font1;
        color: $color4;
        >span{
          font-size: 2rem;
          color: $color3;
          font-family: $font3;
          color: #0096ff;
        }
      }
      >p{
        width: 100%;
        padding: 6px;
        font-size: 1.7rem;
        font-family: $font2;
        color: $color4;
      }
    }
  }
  .aboutCirlce{
    width: 55%;
    background-color: transparent;
  } 
} 
@media screen and (max-width: 1366px) {
  .about{
    .aboutIntro{
      .aboutHead{
        p{
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
 .about{
   .aboutIntro{
     .aboutHead{
       h2{
         font-size:1.7rem ;
       }
       p{
        font-size: 1rem;
       }
     }
   }
 } 
}


@media screen and (max-width: 720px) {
 .about{
   flex-direction: column;
   .aboutIntro{
     width: 100%;
     .aboutHead{
       >h2{
         font-size: 1.6rem;
         span{
           font-size: 1.6rem;
         }
       }
       >p{
         font-size: 1.1rem;
       }
     }
   }
    .aboutCirlce{
     width: 100%;
     height: fit-content;
     display: flex;
     justify-content: center;
   }
 }

}
