@import './static.scss';

nav{
  background-color: $color1;
  height: 3.02rem;
  top:0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  z-index: 20;
  .logo{
    margin-left: 3%;
    font-size: 2.7rem;
    font-family: $font1;
    color: $color2;
  }
  .o{
    margin-right: 3%;
    display: flex;
    .bars{
      display: none;
      >svg{       
        font-size: 2rem;
      }
    }
  >.navCon{
    display: flex;
    gap: 5px;
    >.navBar{
      display: flex;
      gap: 5px;
      >ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        font-family: $font1;
        font-size: 1.4rem;
        a{
          color: $color2;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
            transition: all 0.4s ease;
            color: $color4;
          }
        }
      }
    }
  }}
}
@media screen and (max-width: 900px) {
  nav{
    .logo{
      margin-left: 1%;
      font-size: 2.1rem;
      font-family: $font1;
      color: $color2;
    }
    .o{
      margin-right: 1%;
      display: flex;
      .bars{
        display: block;
        >svg{       
          font-size: 2.1rem;
          z-index: 100;
          color: $color2;
        }
      }
    >.navCon{
      display: flex;
      gap: 5px;
      >.navBar{
         z-index:60;
        height: 70%;
        width: 100%;
        height: 65%;
        flex-direction: column;
        position: fixed;
        list-style-type: none;
        text-align: center;
        background-color: $color1;
        // transform:translate(50%,0);
        padding: 1rem 0rem;
        top: -100%;
        transition: all 0.5s ease-in;
        left: 0;
        z-index: 100;    
        >ul{
    
        }
      }
      .navBarMob{
        z-index: 100;
        // left: 50%;
        left: 0;
        background-color: $color7;
          position: fixed;
        top:6%;
        height: 60%;
        // transform:translate(-50%,0);
        >ul{
          flex-direction: column;
          z-index: 110;
          top: 6%;
          position: relative;
          li{
            font-size: 1.8rem;
            margin-top: 6px;
            font-family: $font3;
            font-weight: 500;
            a{
              color: $color2;
              &:hover{
                text-decoration: none;
              }
            }
          }
        }
          
      }
    }}
  }

    
}
