@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Ysabeau+SC:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
$font1 :'Electrolize', sans-serif;
$font2 :'Roboto Mono', monospace;
$font4:'Ysabeau SC', sans-serif;
$font5:'Sacramento', cursive;
$font3:'Caveat', cursive;



$color1:#000221;
$color6: rgba( 0, 2, 33 ,0.8);
$color7: rgba( 0, 2, 33 ,0.68);
$color2:#ffffff;
$color3:#6F00FF;
$color4:#B0C4DE;
$color5:#002244;
